workflows/core/alice-dms-scanner.json
{
  "name": "alice-dms-scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7-22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 300],
      "id": "a1000001-0001-4000-8000-000000000001",
      "name": "Schedule: Hourly 07-22"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, path, suggested_type FROM alice.dms_watched_folders WHERE enabled = true",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-920, 300],
      "id": "a1000001-0002-4000-8000-000000000002",
      "name": "PG: Active Folders",
      "credentials": {
        "postgres": {
          "id": "2YBtxcocRMLQuAdF",
          "name": "pg-alice"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-no-folders",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-640, 300],
      "id": "a1000001-0003-4000-8000-000000000003",
      "name": "IF: Has Folders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stat-no-dirs",
              "name": "scanned_dirs",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-files",
              "name": "scanned_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-new",
              "name": "new_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-skipped",
              "name": "skipped_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-errors",
              "name": "errors",
              "value": "[]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-360, 520],
      "id": "a1000001-0004-4000-8000-000000000004",
      "name": "Set: Empty Stats"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-80, 520],
      "id": "a1000001-0005-4000-8000-000000000005",
      "name": "End: No Folders"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst SUPPORTED_EXTENSIONS = new Set(['.pdf','.txt','.md','.docx','.doc','.xlsx','.xls','.odt','.ods']);\nconst MAX_DEPTH = 10;\n\nfunction scanDir(dirPath, depth) {\n  if (depth > MAX_DEPTH) return [];\n  let results = [];\n  let entries;\n  try {\n    entries = fs.readdirSync(dirPath, { withFileTypes: true });\n  } catch(e) {\n    return [];\n  }\n  for (const entry of entries) {\n    const fullPath = path.join(dirPath, entry.name);\n    if (entry.isDirectory()) {\n      results = results.concat(scanDir(fullPath, depth + 1));\n    } else if (entry.isFile()) {\n      const ext = path.extname(entry.name).toLowerCase();\n      if (SUPPORTED_EXTENSIONS.has(ext)) {\n        try {\n          const stat = fs.statSync(fullPath);\n          results.push({ file_path: fullPath, file_type: ext.slice(1), file_size: stat.size });\n        } catch(e) {}\n      }\n    }\n  }\n  return results;\n}\n\nconst folders = $input.all();\nconst allFiles = [];\nconst errors = [];\n\nfor (const folderItem of folders) {\n  const folderPath = folderItem.json.path;\n  const suggestedType = folderItem.json.suggested_type || 'auto';\n  try {\n    fs.accessSync(folderPath, fs.constants.R_OK);\n    const files = scanDir(folderPath, 0);\n    for (const f of files) {\n      allFiles.push({ ...f, suggested_type: suggestedType, folder_id: folderItem.json.id });\n    }\n  } catch(e) {\n    errors.push({ folder: folderPath, error: e.message });\n  }\n}\n\n// If no files found, return a single item with empty marker\nif (allFiles.length === 0) {\n  return [{ json: { _no_files: true, scanned_dirs: folders.length, scanned_files: 0, new_files: 0, skipped_files: 0, errors: errors } }];\n}\n\n// Return files as individual items, attach scan metadata to first item\nconsole.log(`Scan complete: ${folders.length} dirs, ${allFiles.length} files found, ${errors.length} errors`);\nif (errors.length > 0) console.log('Scan errors:', JSON.stringify(errors));\n\nreturn allFiles.map(f => ({ json: { ...f, _no_files: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 300],
      "id": "a1000001-0006-4000-8000-000000000006",
      "name": "Code: Scan All Folders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-no-files",
              "leftValue": "={{ $json._no_files }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-80, 300],
      "id": "a1000001-0007-4000-8000-000000000007",
      "name": "IF: Has Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stat-empty-dirs",
              "name": "scanned_dirs",
              "value": "={{ $json.scanned_dirs }}",
              "type": "number"
            },
            {
              "id": "stat-empty-files",
              "name": "scanned_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-empty-new",
              "name": "new_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-empty-skipped",
              "name": "skipped_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-empty-err",
              "name": "errors",
              "value": "={{ JSON.stringify($json.errors || []) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 520],
      "id": "a1000001-0008-4000-8000-000000000008",
      "name": "Set: No Files Stats"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [480, 520],
      "id": "a1000001-0009-4000-8000-000000000009",
      "name": "End: No Files"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [200, 300],
      "id": "a1000001-0010-4000-8000-000000000010",
      "name": "Loop: Files"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst crypto = require('crypto');\n\nconst item = $input.first().json;\nconst filePath = item.file_path;\n\ntry {\n  const fileBuffer = fs.readFileSync(filePath);\n  const hash = crypto.createHash('sha256').update(fileBuffer).digest('hex');\n\n  return [{\n    json: {\n      ...item,\n      file_hash: 'sha256:' + hash,\n      original_size: item.file_size\n    }\n  }];\n} catch(e) {\n  // File unreadable - skip it\n  return [{\n    json: {\n      ...item,\n      file_hash: null,\n      _skip: true,\n      _skip_reason: 'hash_error: ' + e.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "id": "a1000001-0011-4000-8000-000000000011",
      "name": "Code: Hash + Size"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-hash-ok",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, 300],
      "id": "a1000001-0012-4000-8000-000000000012",
      "name": "IF: Hash OK"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=alice:dms:processed:{{ $json.file_hash }}",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1040, 300],
      "id": "a1000001-0013-4000-8000-000000000013",
      "name": "Redis: Check Processed",
      "credentials": {
        "redis": {
          "id": "DtO8rm7fWa7IYMen",
          "name": "redis-alice"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-not-processed",
              "leftValue": "={{ $json.value }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 300],
      "id": "a1000001-0014-4000-8000-000000000014",
      "name": "IF: Not Processed"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=alice:dms:queued:{{ $('Code: Hash + Size').first().json.file_hash }}",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1600, 300],
      "id": "a1000001-0015-4000-8000-000000000015",
      "name": "Redis: Check Queued",
      "credentials": {
        "redis": {
          "id": "DtO8rm7fWa7IYMen",
          "name": "redis-alice"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-not-queued",
              "leftValue": "={{ $json.value }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1880, 300],
      "id": "a1000001-0016-4000-8000-000000000016",
      "name": "IF: Not Queued"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2160, 300],
      "id": "a1000001-0017-4000-8000-000000000017",
      "name": "Wait: 5s Stability"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $('Code: Hash + Size').first().json;\nlet size_stable = false;\ntry {\n  const stat = fs.statSync(item.file_path);\n  size_stable = (stat.size === item.original_size);\n} catch(e) {\n  size_stable = false;\n}\nreturn [{ json: { ...item, size_stable } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300],
      "id": "a1000001-0018-4000-8000-000000000018",
      "name": "Code: Stability Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-stable",
              "leftValue": "={{ $json.size_stable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2720, 300],
      "id": "a1000001-0019-4000-8000-000000000019",
      "name": "IF: Size Stable"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-is-pdf",
              "leftValue": "={{ $json.file_type }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3000, 300],
      "id": "a1000001-0020-4000-8000-000000000020",
      "name": "IF: Is PDF"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $input.first().json;\nlet needs_ocr = true;\ntry {\n  // Read first 64KB only — enough to find text markers\n  const fd = fs.openSync(item.file_path, 'r');\n  const buf = Buffer.alloc(65536);\n  fs.readSync(fd, buf, 0, 65536, 0);\n  fs.closeSync(fd);\n  const sample = buf.toString('latin1');\n  // BT (Begin Text) is present in every PDF with a real text layer\n  needs_ocr = !(sample.includes('BT ') || sample.includes('BT\\n') || sample.includes('BT\\r'));\n} catch(e) {\n  // On error: safe default — assume OCR needed\n  needs_ocr = true;\n}\nreturn [{ json: { ...item, needs_ocr } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 200],
      "id": "a1000001-0023-4000-8000-000000000023",
      "name": "Code: OCR Check",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{ json: { ...item, needs_ocr: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 440],
      "id": "a1000001-0024-4000-8000-000000000024",
      "name": "Set: No OCR Needed"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst priority = (item.file_size > 104857600) ? 'low' : 'normal';\nreturn [{ json: { ...item, priority } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 300],
      "id": "a1000001-0026-4000-8000-000000000026",
      "name": "Code: Set Priority"
    },
    {
      "parameters": {
        "topic": "alice/dms/new",
        "sendInputData": false,
        "message": "={{ JSON.stringify({ file_path: $json.file_path, detected_at: new Date().toISOString(), file_size: $json.file_size, file_hash: $json.file_hash, file_type: $json.file_type, suggested_type: $json.suggested_type, needs_ocr: $json.needs_ocr, priority: $json.priority }) }}",
        "options": {
          "qos": 1
        }
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [4680, 300],
      "id": "a1000001-0027-4000-8000-000000000027",
      "name": "MQTT: Publish New File",
      "credentials": {
        "mqtt": {
          "id": "Kqy6cn7hyDDXrBA0",
          "name": "mqtt-alice"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=alice:dms:queued:{{ $json.file_hash }}",
        "value": "1",
        "expire": false
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [4960, 300],
      "id": "a1000001-0028-4000-8000-000000000028",
      "name": "Redis: Mark Queued",
      "credentials": {
        "redis": {
          "id": "DtO8rm7fWa7IYMen",
          "name": "redis-alice"
        }
      }
    },
    {
      "parameters": {
        "content": "## alice-dms-scanner\n\nScheduled hourly (07:00-22:00).\n\nScans NAS folders from alice.dms_watched_folders,\nfinds new documents, checks dedup via Redis,\nverifies file stability (5s wait),\nchecks PDF text layer for OCR needs,\npublishes to MQTT alice/dms/new.\n\n### Redis Key Pattern\n- `alice:dms:processed:{hash}` = already processed\n- `alice:dms:queued:{hash}` = in queue\n\n### Dedup Note\nUses Redis GET/SET with individual keys per hash\ninstead of SISMEMBER/SADD (n8n Redis node v1\ndoes not support set operations natively).",
        "width": 360,
        "height": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1200, -140],
      "id": "a1000001-0029-4000-8000-000000000029",
      "name": "Sticky: Overview"
    }
  ],
  "connections": {
    "Schedule: Hourly 07-22": {
      "main": [
        [
          {
            "node": "PG: Active Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Active Folders": {
      "main": [
        [
          {
            "node": "IF: Has Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Folders": {
      "main": [
        [
          {
            "node": "Code: Scan All Folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: Empty Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Empty Stats": {
      "main": [
        [
          {
            "node": "End: No Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Scan All Folders": {
      "main": [
        [
          {
            "node": "IF: Has Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Files": {
      "main": [
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: No Files Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: No Files Stats": {
      "main": [
        [
          {
            "node": "End: No Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Files": {
      "main": [
        [],
        [
          {
            "node": "Code: Hash + Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Hash + Size": {
      "main": [
        [
          {
            "node": "IF: Hash OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Hash OK": {
      "main": [
        [
          {
            "node": "Redis: Check Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Check Processed": {
      "main": [
        [
          {
            "node": "IF: Not Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Not Processed": {
      "main": [
        [
          {
            "node": "Redis: Check Queued",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Check Queued": {
      "main": [
        [
          {
            "node": "IF: Not Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Not Queued": {
      "main": [
        [
          {
            "node": "Wait: 5s Stability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait: 5s Stability": {
      "main": [
        [
          {
            "node": "Code: Stability Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Stability Check": {
      "main": [
        [
          {
            "node": "IF: Size Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Size Stable": {
      "main": [
        [
          {
            "node": "IF: Is PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Is PDF": {
      "main": [
        [
          {
            "node": "Code: OCR Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: No OCR Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: OCR Check": {
      "main": [
        [
          {
            "node": "Code: Set Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: No OCR Needed": {
      "main": [
        [
          {
            "node": "Code: Set Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Set Priority": {
      "main": [
        [
          {
            "node": "MQTT: Publish New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT: Publish New File": {
      "main": [
        [
          {
            "node": "Redis: Mark Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Mark Queued": {
      "main": [
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [],
  "meta": {},
  "id": "agJgZmjdcNiAP0VA"
}
