workflows/core/alice-dms-scanner.json
{
  "name": "alice-dms-scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7-22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        30368,
        3888
      ],
      "id": "fe1ec4ad-2450-4ea2-92f5-ec610c1119b8",
      "name": "Schedule: Hourly 07-22"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, path, suggested_type FROM alice.dms_watched_folders WHERE enabled = true",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        30656,
        3888
      ],
      "id": "aa585338-cd49-4a3e-a201-94f792189bd2",
      "name": "PG: Active Folders",
      "credentials": {
        "postgres": {
          "id": "2YBtxcocRMLQuAdF",
          "name": "pg-alice"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-no-folders",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        30928,
        3888
      ],
      "id": "5eb20b96-f8a6-4d41-b7fb-886354e8ca77",
      "name": "IF: Has Folders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stat-no-dirs",
              "name": "scanned_dirs",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-files",
              "name": "scanned_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-new",
              "name": "new_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-skipped",
              "name": "skipped_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-no-errors",
              "name": "errors",
              "value": "[]",
              "type": "string"
            },
            {
              "id": "stat-no-runtime",
              "name": "runtime_seconds",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        31216,
        4112
      ],
      "id": "d43d4537-2ffa-4b36-8520-dc07d0a785e0",
      "name": "Set: Empty Stats"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        31488,
        4112
      ],
      "id": "93aac52d-4ca8-41a8-a9a9-05b897b5f781",
      "name": "End: No Folders"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst SUPPORTED_EXTENSIONS = new Set(['.pdf','.txt','.md','.docx','.doc','.xlsx','.xls','.odt','.ods']);\nconst MAX_DEPTH = 10;\n\nfunction isSymlink(fullPath) {\n  try {\n    return fs.lstatSync(fullPath).isSymbolicLink();\n  } catch(e) {\n    return false;\n  }\n}\n\nfunction scanDir(dirPath, depth) {\n  if (depth > MAX_DEPTH) return [];\n  let results = [];\n  let entries;\n  try {\n    entries = fs.readdirSync(dirPath, { withFileTypes: true });\n  } catch(e) {\n    if (e.code === 'ELOOP') {\n      console.log(`ELOOP skipped (server-side symlink loop): ${dirPath}`);\n    }\n    return [];\n  }\n  for (const entry of entries) {\n    // Skip Dirent-level symlinks (works for local fs)\n    if (entry.isSymbolicLink()) continue;\n    const fullPath = path.join(dirPath, entry.name);\n    // Also check via lstatSync — catches NFS/SMB server-side symlinks\n    if (isSymlink(fullPath)) continue;\n    if (entry.isDirectory()) {\n      results = results.concat(scanDir(fullPath, depth + 1));\n    } else if (entry.isFile()) {\n      const ext = path.extname(entry.name).toLowerCase();\n      if (SUPPORTED_EXTENSIONS.has(ext)) {\n        try {\n          const stat = fs.statSync(fullPath);\n          results.push({ file_path: fullPath, file_type: ext.slice(1), file_size: stat.size });\n        } catch(e) {\n          console.log(`stat error on ${fullPath}: ${e.code} ${e.message}`);\n        }\n      }\n    }\n  }\n  return results;\n}\n\nconst folders = $input.all();\nconst allFiles = [];\nconst errors = [];\n\nfor (const folderItem of folders) {\n  const folderPath = folderItem.json.path;\n  const suggestedType = folderItem.json.suggested_type || 'auto';\n  try {\n    fs.accessSync(folderPath, fs.constants.R_OK);\n    const files = scanDir(folderPath, 0);\n    for (const f of files) {\n      allFiles.push({ ...f, suggested_type: suggestedType, folder_id: folderItem.json.id });\n    }\n  } catch(e) {\n    errors.push({ folder: folderPath, error: e.message, code: e.code });\n    console.log(`Folder access error [${e.code}]: ${folderPath} — ${e.message}`);\n  }\n}\n\n// If no files found, return a single item with empty marker\nif (allFiles.length === 0) {\n  return [{ json: { _no_files: true, scanned_dirs: folders.length, scanned_files: 0, new_files: 0, skipped_files: 0, errors: errors } }];\n}\n\n// Return files as individual items, attach scan metadata to first item\nconsole.log(`Scan complete: ${folders.length} dirs, ${allFiles.length} files found, ${errors.length} errors`);\nif (errors.length > 0) console.log('Scan errors:', JSON.stringify(errors));\n\nreturn allFiles.map(f => ({ json: { ...f, _no_files: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31216,
        3888
      ],
      "id": "dcb6a10c-8b77-4da4-bd5e-2e45b26449aa",
      "name": "Code: Scan All Folders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-no-files",
              "leftValue": "={{ $json._no_files }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        31488,
        3888
      ],
      "id": "fa79ab67-ae50-40d0-9b2b-289a6d7ee43a",
      "name": "IF: Has Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stat-empty-dirs",
              "name": "scanned_dirs",
              "value": "={{ $json.scanned_dirs }}",
              "type": "number"
            },
            {
              "id": "stat-empty-files",
              "name": "scanned_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-empty-new",
              "name": "new_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-empty-skipped",
              "name": "skipped_files",
              "value": 0,
              "type": "number"
            },
            {
              "id": "stat-empty-err",
              "name": "errors",
              "value": "={{ JSON.stringify($json.errors || []) }}",
              "type": "string"
            },
            {
              "id": "stat-empty-runtime",
              "name": "runtime_seconds",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        31776,
        4112
      ],
      "id": "79702cef-1cb0-4d73-b771-27e0dcb9195f",
      "name": "Set: No Files Stats"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        32048,
        4112
      ],
      "id": "05381a03-e9f8-4dc9-98c1-9e17db9c1193",
      "name": "End: No Files"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        31776,
        3888
      ],
      "id": "bd5b0563-f8a3-4493-944d-728e23e4feb3",
      "name": "Loop: Files"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst crypto = require('crypto');\n\nconst item = $input.first().json;\nconst filePath = item.file_path;\n\ntry {\n  const fileBuffer = fs.readFileSync(filePath);\n  const hash = crypto.createHash('sha256').update(fileBuffer).digest('hex');\n\n  return [{\n    json: {\n      ...item,\n      file_hash: 'sha256:' + hash,\n      original_size: item.file_size\n    }\n  }];\n} catch(e) {\n  // File unreadable - skip it\n  return [{\n    json: {\n      ...item,\n      file_hash: null,\n      _skip: true,\n      _skip_reason: 'hash_error: ' + e.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32048,
        3888
      ],
      "id": "1df7c7a0-d9c4-4f26-b2d4-752b0d9b131c",
      "name": "Code: Hash + Size"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-hash-ok",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32336,
        3888
      ],
      "id": "50e6f937-1d65-46b6-8b60-42a071d48867",
      "name": "IF: Hash OK"
    },
    {
      "parameters": {
        "jsCode": "const redis = require('redis');\nconst fs = require('fs');\nconst item = $input.first().json;\nconst filePath = item.file_path;\nconst currentHash = item.file_hash;\n\nif (!currentHash) {\n  return [{ json: { ...item, _lifecycle_action: 'skip', _skip: true } }];\n}\n\nlet redisPw = ''; try { redisPw = $env.REDIS_PASSWORD || ''; } catch(e) {}\nconst client = redis.createClient({ socket: { host: 'redis', port: 6379 }, password: redisPw || undefined });\nawait client.connect();\ntry {\n  // Check 1: Known path -> hash mapping\n  const knownHashForPath = await client.hGet('alice:dms:path_to_hash', filePath);\n  \n  if (knownHashForPath) {\n    if (knownHashForPath === currentHash) {\n      return [{ json: { ...item, _lifecycle_action: 'already_processed', _skip: true } }];\n    } else {\n      // File changed: same path, different hash\n      await client.sRem('alice:dms:processed', knownHashForPath);\n      return [{ json: { ...item, _lifecycle_action: 'replace', _old_hash: knownHashForPath } }];\n    }\n  }\n  \n  // Check 2: Is this hash already processed (potentially at a different path)?\n  const isProcessed = await client.sIsMember('alice:dms:processed', currentHash);\n  \n  if (isProcessed) {\n    const knownPaths = await client.sMembers(`alice:dms:hash_to_paths:${currentHash}`);\n    \n    if (knownPaths.length === 0) {\n      return [{ json: { ...item, _lifecycle_action: 'new' } }];\n    }\n    \n    const existingPaths = knownPaths.filter(p => {\n      try { fs.accessSync(p, fs.constants.F_OK); return true; } catch(e) { return false; }\n    });\n    \n    if (existingPaths.length === 0) {\n      return [{ json: { ...item, _lifecycle_action: 'update_path', _old_paths: knownPaths } }];\n    } else {\n      const deadPaths = knownPaths.filter(p => !existingPaths.includes(p));\n      for (const p of deadPaths) {\n        await client.sRem(`alice:dms:hash_to_paths:${currentHash}`, p);\n      }\n      return [{ json: { ...item, _lifecycle_action: 'add_path', _known_paths: existingPaths } }];\n    }\n  }\n  \n  // Check 3: Is hash currently in the processing queue?\n  const isQueued = await client.sIsMember('alice:dms:queued_files', currentHash);\n  if (isQueued) {\n    return [{ json: { ...item, _lifecycle_action: 'already_queued', _skip: true } }];\n  }\n  \n  return [{ json: { ...item, _lifecycle_action: 'new' } }];\n  \n} finally {\n  await client.quit();\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32620,
        3888
      ],
      "id": "lifecycle-check-01-alice-dms-scanner-v1",
      "name": "Code: Lifecycle Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-not-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32920,
        3888
      ],
      "id": "lifecycle-route-01-alice-dms-scanner-v1",
      "name": "IF: Route Lifecycle Action"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "check-new",
              "leftValue": "={{ $json._lifecycle_action }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-replace",
              "leftValue": "={{ $json._lifecycle_action }}",
              "rightValue": "replace",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        33220,
        3888
      ],
      "id": "lifecycle-event-01-alice-dms-scanner-v1",
      "name": "IF: Is Lifecycle Event"
    },
    {
      "parameters": {
        "topic": "alice/dms/lifecycle",
        "sendInputData": false,
        "message": "={{ JSON.stringify( $json._lifecycle_action === 'update_path' ? { action: 'update_path', file_hash: $json.file_hash, file_path: $json.file_path, old_paths: $json._old_paths || [], detected_at: new Date().toISOString() } : { action: 'add_path', file_hash: $json.file_hash, file_path: $json.file_path, detected_at: new Date().toISOString() } ) }}",
        "options": {
          "qos": 1
        }
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        33520,
        4200
      ],
      "id": "mqtt-lifecycle-01-alice-dms-scanner-v1",
      "name": "MQTT: Publish Lifecycle",
      "credentials": {
        "mqtt": {
          "id": "Kqy6cn7hyDDXrBA0",
          "name": "mqtt-alice"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        33728,
        3888
      ],
      "id": "d22f9c7e-30e0-45de-8429-b0e0c6037c42",
      "name": "Wait: 5s Stability",
      "webhookId": "41fef22c-aa0b-49c0-84d5-bef6d78343ad"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst hashItem = $('Code: Hash + Size').first().json;\nconst lifecycleItem = $('Code: Lifecycle Check').first().json;\n// Merge hash data with lifecycle fields (_lifecycle_action, _old_hash)\nconst item = { ...hashItem, ...lifecycleItem };\nlet size_stable = false;\ntry {\n  const stat = fs.statSync(item.file_path);\n  size_stable = (stat.size === item.original_size);\n} catch(e) {\n  size_stable = false;\n}\nreturn [{ json: { ...item, size_stable } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        34016,
        3888
      ],
      "id": "9cc488a3-31ea-4a64-8852-014a9a838d88",
      "name": "Code: Stability Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-stable",
              "leftValue": "={{ $json.size_stable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        34288,
        3888
      ],
      "id": "f7744bad-54dd-41e9-97a5-959a4ae778b7",
      "name": "IF: Size Stable"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict",
            "leftValue": "",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-is-pdf",
              "leftValue": "={{ $json.file_type }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        34576,
        3888
      ],
      "id": "fd954f3c-c19b-4feb-a476-1a5a42ff3954",
      "name": "IF: Is PDF"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $input.first().json;\nlet needs_ocr = true;\ntry {\n  // Read first 64KB only — enough to find text markers\n  const fd = fs.openSync(item.file_path, 'r');\n  const buf = Buffer.alloc(65536);\n  fs.readSync(fd, buf, 0, 65536, 0);\n  fs.closeSync(fd);\n  const sample = buf.toString('latin1');\n  // Font is present in every PDF with a real text layer\n  needs_ocr = !(sample.includes('Font'));\n} catch(e) {\n  // On error: safe default — assume OCR needed\n  needs_ocr = true;\n}\nreturn [{ json: { ...item, needs_ocr } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        34848,
        3792
      ],
      "id": "a4acadb2-7689-4a4a-a388-a361c444860c",
      "name": "Code: OCR Check",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{ json: { ...item, needs_ocr: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        34848,
        4032
      ],
      "id": "afa76f64-0036-443f-87a3-cb40178ffb17",
      "name": "Set: No OCR Needed"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst priority = (item.file_size > 104857600) ? 'low' : 'normal';\nreturn [{ json: { ...item, priority } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        35968,
        3888
      ],
      "id": "13c73607-1625-4a84-adae-804bca763418",
      "name": "Code: Set Priority"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-pdf-text",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-pdf-no-ocr",
                    "leftValue": "={{ $json.needs_ocr }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF (text)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-pdf-ocr",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-pdf-needs-ocr",
                    "leftValue": "={{ $json.needs_ocr }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF (OCR)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-txt",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-md",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "md",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "TXT / MD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-docx",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-doc",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-odt",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "odt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-xlsx",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-xls",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "xls",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "route-ods",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "ods",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Office"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        36256,
        3888
      ],
      "id": "c09f05cf-4dd3-4a55-9ad2-635bc2974602",
      "name": "Switch: Route by Type"
    },
    {
      "parameters": {
        "topic": "alice/dms/pdf",
        "sendInputData": false,
        "message": "={{ JSON.stringify({ file_path: $json.file_path, detected_at: new Date().toISOString(), file_size: $json.file_size, file_hash: $json.file_hash, file_type: $json.file_type, suggested_type: $json.suggested_type, needs_ocr: $json.needs_ocr, priority: $json.priority, action: $json._lifecycle_action === 'replace' ? 'replace' : 'new', old_hash: $json._old_hash || null }) }}",
        "options": {
          "qos": 1
        }
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        36528,
        3648
      ],
      "id": "c09bf5e6-de56-4177-96a6-62919897dfdd",
      "name": "MQTT: Publish PDF",
      "credentials": {
        "mqtt": {
          "id": "Kqy6cn7hyDDXrBA0",
          "name": "mqtt-alice"
        }
      }
    },
    {
      "parameters": {
        "topic": "alice/dms/ocr",
        "sendInputData": false,
        "message": "={{ JSON.stringify({ file_path: $json.file_path, detected_at: new Date().toISOString(), file_size: $json.file_size, file_hash: $json.file_hash, file_type: $json.file_type, suggested_type: $json.suggested_type, needs_ocr: $json.needs_ocr, priority: $json.priority, action: $json._lifecycle_action === 'replace' ? 'replace' : 'new', old_hash: $json._old_hash || null }) }}",
        "options": {
          "qos": 1
        }
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        36528,
        3824
      ],
      "id": "ecfeba66-f351-411b-af4f-fb391bbe5eb5",
      "name": "MQTT: Publish OCR",
      "credentials": {
        "mqtt": {
          "id": "Kqy6cn7hyDDXrBA0",
          "name": "mqtt-alice"
        }
      }
    },
    {
      "parameters": {
        "topic": "alice/dms/txt",
        "sendInputData": false,
        "message": "={{ JSON.stringify({ file_path: $json.file_path, detected_at: new Date().toISOString(), file_size: $json.file_size, file_hash: $json.file_hash, file_type: $json.file_type, suggested_type: $json.suggested_type, needs_ocr: $json.needs_ocr, priority: $json.priority, action: $json._lifecycle_action === 'replace' ? 'replace' : 'new', old_hash: $json._old_hash || null }) }}",
        "options": {
          "qos": 1
        }
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        36528,
        4000
      ],
      "id": "6e734140-246c-4647-82c9-853902fdaa51",
      "name": "MQTT: Publish TXT",
      "credentials": {
        "mqtt": {
          "id": "Kqy6cn7hyDDXrBA0",
          "name": "mqtt-alice"
        }
      }
    },
    {
      "parameters": {
        "topic": "alice/dms/office",
        "sendInputData": false,
        "message": "={{ JSON.stringify({ file_path: $json.file_path, detected_at: new Date().toISOString(), file_size: $json.file_size, file_hash: $json.file_hash, file_type: $json.file_type, suggested_type: $json.suggested_type, needs_ocr: $json.needs_ocr, priority: $json.priority, action: $json._lifecycle_action === 'replace' ? 'replace' : 'new', old_hash: $json._old_hash || null }) }}",
        "options": {
          "qos": 1
        }
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        36528,
        4192
      ],
      "id": "742d6835-2bd5-4200-b426-6d6e95272fe8",
      "name": "MQTT: Publish Office",
      "credentials": {
        "mqtt": {
          "id": "Kqy6cn7hyDDXrBA0",
          "name": "mqtt-alice"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const redis = require('redis');\nconst item = $input.first().json;\nif (!item.file_hash) {\n  return [{ json: item }];\n}\nlet redisPw = ''; try { redisPw = $env.REDIS_PASSWORD || ''; } catch(e) {}\nconst client = redis.createClient({ socket: { host: 'redis', port: 6379 }, password: redisPw || undefined });\nawait client.connect();\ntry {\n  // BUG-2 fix: remove stale old hash from queued_files on Fall 3 replace\n  if (item._lifecycle_action === 'replace' && item._old_hash) {\n    await client.sRem('alice:dms:queued_files', item._old_hash);\n  }\n  await client.sAdd('alice:dms:queued_files', item.file_hash);\n} finally {\n  await client.quit();\n}\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        36816,
        3888
      ],
      "id": "code-mark-queued-01-alice-dms-scanner-v1",
      "name": "Code: Mark Queued"
    },
    {
      "parameters": {
        "jsCode": "// Summary Stats: aggregate counters from all loop iterations\nconst allItems = $('Code: Lifecycle Check').all();\nconst hashItems = $('Code: Hash + Size').all();\nconst folders = $('PG: Active Folders').all();\n\nconst scannedDirs = folders.length;\nconst scannedFiles = hashItems.length;\n\nlet newFiles = 0;\nlet skippedFiles = 0;\nconst errors = [];\n\nfor (const item of allItems) {\n  const action = item.json._lifecycle_action;\n  if (action === 'already_processed' || action === 'already_queued') {\n    skippedFiles++;\n  } else if (action === 'new' || action === 'replace' || action === 'update_path' || action === 'add_path') {\n    newFiles++;\n  } else if (item.json._skip) {\n    skippedFiles++;\n  }\n}\n\n// Count hash errors\nfor (const item of hashItems) {\n  if (item.json._skip && item.json._skip_reason) {\n    skippedFiles++;\n    errors.push(item.json._skip_reason);\n  }\n}\n\n// Runtime: estimate from execution start to now\nlet runtimeSeconds = 0;\ntry {\n  const startMs = new Date($execution.startedAt).getTime();\n  runtimeSeconds = Math.round((Date.now() - startMs) / 1000);\n} catch(e) { runtimeSeconds = 0; }\n\nconsole.log(`Summary: dirs=${scannedDirs} files=${scannedFiles} new=${newFiles} skipped=${skippedFiles} errors=${errors.length} runtime=${runtimeSeconds}s`);\nreturn [{ json: { scanned_dirs: scannedDirs, scanned_files: scannedFiles, new_files: newFiles, skipped_files: skippedFiles, errors: errors, runtime_seconds: runtimeSeconds } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        37104,
        3888
      ],
      "id": "summary-stats-01-alice-dms-scanner-v1",
      "name": "Code: Summary Stats"
    },
    {
      "parameters": {
        "content": "## alice-dms-scanner\n\nScheduled hourly (07:00-22:00).\n\nScans NAS folders from alice.dms_watched_folders,\nfinds new documents, checks lifecycle via redis,\nverifies file stability (5s wait),\nchecks PDF text layer for OCR needs,\nroutes to type-specific MQTT queues:\n- alice/dms/pdf (PDF with text layer)\n- alice/dms/ocr (PDF needing OCR)\n- alice/dms/txt (TXT, MD)\n- alice/dms/office (DOCX, DOC, ODT, XLSX, XLS, ODS)\n\n### Redis Key Pattern (PROJ-21)\n- `alice:dms:processed` — Set of processed file hashes\n- `alice:dms:queued_files` — Set of in-flight file hashes\n- `alice:dms:path_to_hash` — Hash map: file_path -> file_hash\n- `alice:dms:hash_to_paths:<hash>` — Set of known paths per hash\n\n### Lifecycle Detection (PROJ-21)\nUses redis Code nodes for Set/Hash operations.\nDetects: new files, duplicates (add_path),\nmoved files (update_path), changed files (replace).\nPublishes lifecycle events to alice/dms/lifecycle.",
        "height": 440,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        30368,
        3380
      ],
      "id": "2fdda6a4-a9cc-470f-98ab-e42f7f19fd37",
      "name": "Sticky: Overview"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: Hourly 07-22": {
      "main": [
        [
          {
            "node": "PG: Active Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Active Folders": {
      "main": [
        [
          {
            "node": "IF: Has Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Folders": {
      "main": [
        [
          {
            "node": "Code: Scan All Folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: Empty Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Empty Stats": {
      "main": [
        [
          {
            "node": "End: No Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Scan All Folders": {
      "main": [
        [
          {
            "node": "IF: Has Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Files": {
      "main": [
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: No Files Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: No Files Stats": {
      "main": [
        [
          {
            "node": "End: No Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Files": {
      "main": [
        [
          {
            "node": "Code: Summary Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Hash + Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Hash + Size": {
      "main": [
        [
          {
            "node": "IF: Hash OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Hash OK": {
      "main": [
        [
          {
            "node": "Code: Lifecycle Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Lifecycle Check": {
      "main": [
        [
          {
            "node": "IF: Route Lifecycle Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Route Lifecycle Action": {
      "main": [
        [
          {
            "node": "IF: Is Lifecycle Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Is Lifecycle Event": {
      "main": [
        [
          {
            "node": "Wait: 5s Stability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MQTT: Publish Lifecycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT: Publish Lifecycle": {
      "main": [
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait: 5s Stability": {
      "main": [
        [
          {
            "node": "Code: Stability Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Stability Check": {
      "main": [
        [
          {
            "node": "IF: Size Stable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Size Stable": {
      "main": [
        [
          {
            "node": "IF: Is PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Is PDF": {
      "main": [
        [
          {
            "node": "Code: OCR Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: No OCR Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: OCR Check": {
      "main": [
        [
          {
            "node": "Code: Set Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: No OCR Needed": {
      "main": [
        [
          {
            "node": "Code: Set Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Set Priority": {
      "main": [
        [
          {
            "node": "Switch: Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Route by Type": {
      "main": [
        [
          {
            "node": "MQTT: Publish PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MQTT: Publish OCR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MQTT: Publish TXT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MQTT: Publish Office",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT: Publish PDF": {
      "main": [
        [
          {
            "node": "Code: Mark Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT: Publish OCR": {
      "main": [
        [
          {
            "node": "Code: Mark Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT: Publish TXT": {
      "main": [
        [
          {
            "node": "Code: Mark Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MQTT: Publish Office": {
      "main": [
        [
          {
            "node": "Code: Mark Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Mark Queued": {
      "main": [
        [
          {
            "node": "Loop: Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c3d4e5f6-7890-abcd-ef01-234567890abc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42c43dc32870835c23e01976dcb7812ab12ad1f1ff1c1305b521ba9c5dcc860a"
  },
  "id": "agJgZmjdcNiAP0VA",
  "tags": []
}